extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        .h1 WiFiDot
          small &nbsp 热点之所在
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 124 High Street
          p
            span.label.label-warning Drinks
            | &nbsp
            span.label.label-warning Food
            | &nbsp
            span.label.label-warning WiFi
            | &nbsp
    .col-xs-12.col-sm-4
      p 找到热点.

